.card-container {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  margin: 15px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 350ms ease-in-out;
  width: 100%;
}
.flipped {
  transform: rotateY(180deg);
}
.card .gradient {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 50px;
  aspect-ratio: 1;
}


@media (max-width:47em){
  .card-container{
    width: 120px;
    height: 150px;
  }
}