.main-page {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 4fr;
}

.game-page {
  margin-top: 4rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.game-banner {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 47em) {
  .main-page {
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }

  .game-page{
    gap: 1rem;
  }
}
