.board-section {
  border: 2px solid gray;
  border-radius: 1rem;
  /* padding: 1rem; */
  margin: 2rem 0;
  padding: 1rem 0.5rem;
}

.board-heading {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(112, 16, 16);
}

.board-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.board-columns > * {
  font-size: 2rem;
  font-weight: 600;
}

.board-items {
  font-size: 1.5rem;
  font-weight: 500;
}
